In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
df=pd.read_csv("house.csv")
print(df)

   area  baderoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
#HANDELING NULL VALUES
#putting mean,median 
#putting 0

In [5]:
import math

m=df.baderoom.median()
print(m)

4.0

In [6]:
#filling with median
df.baderoom=df.baderoom.fillna(m)
print(df)

   area  baderoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
new_df = df.drop("price",axis="columns")
new_df

   area  baderoom  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [8]:
#training model
model = linear_model.LinearRegression()
model.fit(new_df,df.price)

LinearRegression()

In [11]:
#prediction
model.predict([[3000,3,10]])

array([595359.7888393])

In [12]:
model.coef_
#prices=m1*area + m2*baderooms + m3*age + c

array([  112.06244194, 23388.88007794, -3231.71790863])

In [13]:
model.intercept_

221323.00186540384